.course {
  background-color: #cbcbcb;
  border-radius: 10px;
  width: 180px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  transition: background 0.3s linear;
}
.course:hover {
  background-color: #b0b0b0;
}
.course-icon {
  width: 60px;
}
.course-name {
  color: var(--color3);
  text-transform: capitalize;
}

@media screen and (max-width: 520px) {
  .course {
    width: 130px;
    height: 120px;
  }
  .course-icon {
    width: 50px;
  }
  .course-name {
    font-size: 0.9rem;
  }
}
