.footer-section {
  padding: 30px 50px;
  background-color: #444;
  color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  /* margin-top: 20px; */
}
.footer-section div {
  width: 250px;
}
.footer-section div .footer-title {
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 25px;
}
.footer-section .footer-logo {
  color: var(--color1);
  font-size: 25px;
}
.footer-section div ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  /* background-color: red; */
}
.footer-section div .footer-links {
  list-style: none;
  text-align: center;
  /* margin-bottom: 5px; */
}
.footer-section div .footer-links a {
  color: var(--color1);
  font-size: 24px;
}
.footer-section div .footer-links a:hover {
  color: #cacaca;
}
@media screen and (max-width: 480px) {
  .footer-section {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}
