@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");
*,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}
body {
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --color1: #ffffff;
  --color2: #0d6efd;
  --color3: #434540;
  --color4: #777777;
}

.test-header {
  background-color: var(--color1);
}
.title {
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 10px;
  color: var(--color3);
}
.sidebar-article {
  padding: 50px 70px;
  width: 100%;
}
.logo {
  font-size: 1.2rem;
  color: var(--color3);
}

@media screen and (max-width: 480px) {
  .sidebar-article {
    padding: 20px 20px;
  }
  .logo {
    font-size: 1rem;
  }
  .title {
    font-size: 25px;
  }
}
