.login-form {
  margin: 20px 0 15px;
  padding: 5px;
  display: flex;
  /* gap: 15px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300;
}
.login-form label {
  position: relative;
}
.login-form label .warning {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: var(--warning);
}
.login-form input {
  width: 100%;
  border: 2px solid var(--color3);
  color: var(--color3);
  outline: none;
  border-radius: 3px;
  padding: 10px 24px 10px 15px;
  margin: 10px 0;
  background: none;
  font-size: 14px;
}
.login-form input.invalid {
  border: 1px solid var(--warning);
}
/* .err-message {
  transform: translateY(-5px);
  color: var(--warning);
  margin-bottom: 5px;
} */

.login-form .cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.login-form .cta .create-account {
  font-size: 14px;
  color: rgb(36, 36, 251);
  text-decoration: underline;
}

.login-form button {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: var(--color2);
  color: var(--color1);
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  display: inline-block;
}
