.navbar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px #bababa;
  height: 70px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px #bababa;
    height: 70px;
  }
}
